body{
    margin: 0px;
}
.navbar{
    background-color:#c8c4c4;
    display: flex;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}
.navbar img{
    width:200px;
    height: 150px;
}
.navbar h1{
    font-size: 50px;
    margin-left: 90px;
    margin-bottom: 5px;
    color:#111d70

}
.theme .main{
    width:100px ;
    height: 150px;
    margin-left: 60px;
}
.theme{
    background-color: #c8c4c4;
    width: 300px;
    height: 525px;
    margin-top: 25px;
    margin-left: 10px;
    border-radius: 20px;
}
.theme button img{
    height: 15px;
    width: 15px;
}
.theme .main1 button{
    margin:10px;
    margin-bottom: 5px;
    padding-right: 10px;
}
.theme button{
    margin-bottom: 50px;
    margin-left: 10px;
    background-color: white;
    border-color: white;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
.theme .one{
    padding-right: 105px;
    margin-left: 25px;
    margin-top: 20px;
}
.theme .two{
    padding-right:88px;
     margin-left: 25px;
}
.theme .three{
    padding-right: 55.5px;
     margin-left: 25px;
}
.theme .four{
    padding-right: 105px;
     margin-left: 25px;
}
.theme .five{
    padding-right: 105px;
    margin-left: 25px;
}
.theme button img{
    padding-right:5px;
}
.top  img{
    border-radius:100% ;
    margin-left:10px ;
    margin-top: 10px;
    width: 130px;
    height: 130px;
    
    
}
.top{
    background-color: #c8c4c4;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 20px;
    border-radius: 20px;
    width :1100px;
    height: 150px;
    display:flex;
}
.content {
    display:flex;
}
.top p{
    margin-left: 50px;
    margin-top: 50px;
}
.aside .bottom{
    height: 355px;
    background-color: #c8c4c4;
    margin-left: 50px;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 30px;
}
.bottom input{
    margin-bottom: 45px;
    margin-top: 10px;
}
.bottom label{
    margin-left: 60px;
}
.bottom .seven{
    margin-left:3px ;
}
.bottom .eight{
    width: 163px;
}
.bottom .nine{
    width:184px;
}
.bottom .ten{
    width:155px;
}
